[Unit]
AssertPathExists=/usr/bin/nitro_repo

[Service]
WorkingDirectory=/etc/nitro_repo
ExecStart=/usr/bin/nitro_repo
Restart=always
PrivateTmp=true
NoNewPrivileges=true
