backend/target
backend/test
test/
*.iml
.idea
log
frontend/node_modules
frontend/out
frontend/dist
frontend/frontend
nitro_repo-api-wrapper/dist
nitro_repo-api-wrapper/node_modules
.next
config.json
Cargo.lock
node_modules
testInstall.sh
docs/node_modules
docs/docs/.vitepress/dist/
*.log
*.env*
*.tar.gz
test/