backend/target
backend/test
*.iml
.idea
log
frontend/node_modules
frontend/out
frontend/dist
nitro_repo-api-wrapper/dist
nitro_repo-api-wrapper/node_modules
.next
config.json
Cargo.lock
node_modules
testInstall.sh