


@font-face {
  font-family: "Fira Code";
  src: url("/fonts/static/FiraCode-Regular.ttf") format("truetype");
}
@import 'variables';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html, body {
  min-height: 100vh;
    color: $text-color;
    background: $background-color;
    transition:
      color 0.5s,
      background-color 0.5s;
    font-family: Roboto, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}