@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Fira Code";
  src: url("/fonts/static/FiraCode-Regular.ttf") format("truetype");
}
html,
body {
  --color-primary: 206, 25%, 26%;
  --color-secondary: 207, 45%, 41%;
  --color-tertiary: 205, 20%, 19%;
  --color-quaternary: 11, 88%, 96%;
  --color-accent: 2, 83%, 43%;
  min-height: 100%;
  @apply bg-primary;
}
