#browseBox {
  display: flex;
  flex-direction: column;
}
.listOfItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  height: 85vh;
}
