@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Color Theme Swatches in Hex */
.nitro_repo_default-1-hex {
    color: #324554;
}

.nitro_repo_default-2-hex {
    color: #396d99;
}

.nitro_repo_default-3-hex {
    color: #30ffef;
}

.nitro_repo_default-4-hex {
    color: #fef1ee;
}

.nitro_repo_default-5-hex {
    color: #cc1912;
}

/* Color Theme Swatches in RGBA */
.nitro_repo_default-1-rgba {
    color: rgba(50, 69, 84, 1);
}

.nitro_repo_default-2-rgba {
    color: rgba(57, 109, 153, 1);
}

.nitro_repo_default-3-rgba {
    color: rgba(48, 255, 239, 1);
}

.nitro_repo_default-4-rgba {
    color: rgba(254, 241, 238, 1);
}

.nitro_repo_default-5-rgba {
    color: rgba(204, 25, 18, 1);
}

/* Color Theme Swatches in HSLA */
.nitro_repo_default-1-hsla {
    color: hsla(206, 25, 26, 1);
}

.nitro_repo_default-2-hsla {
    color: hsla(207, 45, 41, 1);
}

.nitro_repo_default-3-hsla {
    color: hsla(175, 100, 59, 1);
}

.nitro_repo_default-4-hsla {
    color: hsla(11, 88, 96, 1);
}

.nitro_repo_default-5-hsla {
    color: hsla(2, 83, 43, 1);
}

html,
body {
    --color-primary: 206, 25%, 26%;
    --color-secondary: 207, 45%, 41%;
    --color-tertiary: 175, 100%, 59%;
    --color-quaternary: 11, 88%, 96%;
    --color-accent: 2, 83%, 43%;
    min-height: 100%;
    @apply bg-primary;
}
