<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon and title -->
    <title>Install Nitro Host</title>

    <!-- Halfmoon CSS -->
    <link href="{{url(path='cdn/halfmoon/css/halfmoon.min.css')}}" rel="stylesheet" />

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">

    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Nitro Repo requires install</h4>
            Please complete the form below to finalize the setup process
          </div>
        <form method="post" action="{{url(path='install')}}" class="">
            <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
            <!-- Input -->
            <div class="form-group">
                <label for="full-name" class="required">Full name</label>
                <input type="text" name="name" class="form-control" id="full-name" placeholder="Full name" required="required">
            </div>         
              <div class="form-group">
                <label for="username" class="required">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="username" required="required">
            </div>        
            <div class="form-group">
                <label for="email" class="required">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="email@example.com" required="required">
            </div>
            <div class="form-group">
                <label for="password" class="required">Password</label>
                <input type="password" name="password" class="form-control" id="password"  required="required">
            </div>


            <div class="form-group">
                <label for="confirm_password" class="required">Confirm Password</label>
                <input type="password" name="password_two" class="form-control" id="confirm_password"  required="required">
            </div>




            <!-- Submit button -->
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
    <!-- Content wrapper end -->

    </div>
    <!-- Page wrapper end -->

    <!-- Halfmoon JS -->
    <script src="{{url(path='cdn/halfmoon/js/halfmoon.min.js')}}"></script>
</body>

</html>