<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon and title -->
    <title>Redirect</title>

    <!-- Halfmoon CSS -->
    <link href="{{url(path='cdn/halfmoon/css/halfmoon.min.css')}}" rel="stylesheet" />

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">

    <div class="page-wrapper">

        <div class="content-wrapper">
            <a href="{{url}}">Redirect</a>
        </div>
        <!-- Content wrapper end -->

    </div>
    <!-- Page wrapper end -->

    <!-- Halfmoon JS -->
    <script src="{{url(path='cdn/halfmoon/js/halfmoon.min.js')}}"></script>
</body>

</html>