@import 'theme';
@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap')
    format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: $text;
  background: $background;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: Roboto, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}
