// https://www.realtimecolors.com/?colors=e2e6f6-070a17-8aa3db-812869-c95172&fonts=Inter-Inter
$text: rgb(226, 230, 246);
$text-50: rgba(226, 230, 246, 0.5);
$background: rgb(7, 10, 23);
$background-30: rgba(7, 10, 23, 0.3);
$background-50: rgba(7, 10, 23, 0.5);
$background-70: rgba(7, 10, 23, 0.7);
$background-90: rgba(7, 10, 23, 0.9);

$primary: rgb(138, 163, 219);
$primary-30: rgba(138, 163, 219, 0.3);
$primary-50: rgba(138, 163, 219, 0.5);
$primary-70: rgba(138, 163, 219, 0.7);
$primary-90: rgba(138, 163, 219, 0.9);

$secondary: rgb(129, 40, 105);
$secondary-30: rgba(129, 40, 105, 0.3);
$secondary-50: rgba(129, 40, 105, 0.5);
$secondary-70: rgba(129, 40, 105, 0.7);
$secondary-90: rgba(129, 40, 105, 0.9);
$accent: rgb(201, 81, 114);
$accent-30: rgba(201, 81, 114, 0.3);
$accent-50: rgba(201, 81, 114, 0.5);
$accent-70: rgba(201, 81, 114, 0.7);
$accent-90: rgba(201, 81, 114, 0.9);
