// https://www.realtimecolors.com/?colors=e2e6f6-070a17-8aa3db-812869-c95172&fonts=Inter-Inter
$text: rgb(226, 230, 246);
$background: rgb(7, 10, 23);
$primary: rgb(138, 163, 219);
$secondary: rgb(129, 40, 105);
$accent: rgb(201, 81, 114);
